
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    font-size:20px;
    color:#cbd5e1;
    line-height:1.6;
    margin-bottom:25px;
}

.hero a{
    text-decoration:none;
    background:#38bdf8;
    color:black;
    padding:12px 30px;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.hero a:hover{
    transform:scale(1.05);
}

